.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 100px;
  gap: 12px;
  padding: 12px;
  background: white;
}

.input-wrapper.borderless {
  border: none;
  padding: 0 12px;
}

.input-icon {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-right: 8px;
}

.input-field {
  color: black;
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  background: transparent;
}
