.brand-logo {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.brand-logo-name {
  display: flex;
  flex-direction: column;
}

.brand-logo-name p {
  margin: 0;

  line-height: 1.5;
}
