.card {
    text-align: left; 
    background: white;
    padding: 20;
    margin-top : 20px;
    border-radius: 12px;
      width: 300px;

}
.card-title{
  color : black
  
}

.card-content{
  color : grey
}

